<launch>
  
  <!--> First Guard <!-->
  <node pkg="nostop_gazebo_sensor" type="nostop_gazebo_sensor_node" name="$(anon GazeboLocalizer_red_blue)" required="true" output="screen">
    <param name="robot_name" value="$(optenv ROS_ROBOT_NAME red_blue)" />
  </node>
  
  <node pkg="nostop_agent" type="Guard" name="$(anon Guard_red_blue)" required="true" output="screen">
    <param name="robot_name" value="$(optenv ROS_ROBOT_NAME red_blue)" />
    <param name="learning_name" value="$(optenv ROS_LEARNING_ALG DISL)" />
    <param name="period" value="$(optenv ROS_AGENT_PERIOD 1)" />
  </node>
  
  <!--> Thief  <!-->
  <node pkg="nostop_gazebo_sensor" type="nostop_gazebo_sensor_node" name="$(anon GazeboLocalizer_thief)" required="true" output="screen">
    <param name="robot_name" value="$(optenv ROS_ROBOT_NAME thief)" />
  </node>
  
  <node pkg="nostop_agent" type="Thief" name="$(anon thief)" required="true" output="screen">
  <param name="robot_name" value="$(optenv ROS_ROBOT_NAME thief)" />
  </node>
    
</launch>