<?xml version="1.0" ?>
<launch>
  
  <include file="$(find nostop_agent)/launch/Guard.launch">
        <arg name="robot_name" value="red_blue"/>
	<arg name="learning_name" value="DISL"/>
        <arg name="period" value="1"/>
  </include>
  
  <include file="$(find nostop_agent)/launch/Guard.launch">
        <arg name="robot_name" value="yellow_green"/>
	<arg name="learning_name" value="DISL"/>
        <arg name="period" value="1"/>
  </include>
 
  <include file="$(find nostop_agent)/launch/Thief.launch">
        <arg name="robot_name" value="thief"/>
  </include>
  
</launch>