<launch>

  <!--> First Guard <!-->
  <!--> <node pkg="dfrobot_2wd" type="dfrobot_2wd_node" name="$(anon dfrobot_2wd_node_red_blue)" required="true" output="screen">
    <param name="robot_name" value="$(optenv ROS_ROBOT_NAME red_blue)" />
    <param name="port_name" value="$(optenv ROS_PORT_NAME /dev/ttyACM0)" />
  </node> <!-->

  <node pkg="nostop_agent" type="Guard" name="$(anon Guard_red_blue)" required="true" output="screen">
    <param name="robot_name" value="$(optenv ROS_ROBOT_NAME red_blue)" />
    <param name="learning_name" value="$(optenv ROS_LEARNING_ALG DISL)" />
    <param name="period" value="$(optenv ROS_AGENT_PERIOD 1)" />
  </node>
  
</launch>