<?xml version="1.0" ?>
<launch>

  <node pkg="nostop_gazebo_sensor" type="nostop_gazebo_sensor_node" name="$(anon GazeboLocalizer_thief)" required="true" output="screen">
    <param name="robot_name" value="$(optenv ROS_ROBOT_NAME thief)" />
  </node>
  
  <node pkg="nostop_agent" type="Thief" name="$(anon thief)" required="true" output="screen">
  <param name="robot_name" value="$(optenv ROS_ROBOT_NAME thief)" />
  </node>
  
</launch>